header {
    background-color: #4a4a49;
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffff 0.5px solid;
    font-size: 60px;
    text-align: center;
    height: 90px;
    color: white;
    }
body {
    background-color: #4a4a49;
}
section {
    border: #ffffff 1px solid;
    background-color: #4a4a49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    }
ul {
    text-align: justify;
}
ol {
    text-align: justify;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
p {
    color: white;
    font-size: 15px;
}
footer {
    border: #ffffff 1px solid;
    color: white;    
    background-color: #4a4a49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    }

.blink {
        animation: blinker 0.6s linear infinite;
        color: white;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }
      @keyframes blinker-one {
        0% {
          opacity: 0;
        }
      }
      .blink-two {
        animation: blinker-two 1.4s linear infinite;
      }
      @keyframes blinker-two {
        100% {
          opacity: 0;
        }
      }